.testimonial{
  padding: 1.5em 0 1.5em 0;
  text-align: center;

  @include media($medium){
    @include span-columns(8);
    @include shift(2);
    text-align: left;
  }

  &__img{
    display: inline-block;
    margin-bottom: 1.5em;
    border-radius: 50%;
    border: 6px solid white;
    box-shadow: 0 em(3) em(7) rgb(232, 232, 232);

    @include media($medium){
      float: left;
      margin-right: 1.5em;
    }
  }

  &__heading{
    padding-top: 0;
  }

  &__message{
    margin: 1em 0 0;
    font-size: em($font-size-small);
    line-height: 1.5em;

    @include media($medium){
      margin-top: 0.25em;
    }
  }
}
